.c-main__header {
    background: #FFFFFF;
    border: 0.0625em solid #DBDBDB;
    height: 3.375em;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.c-main__header img {
    border-left: 0.0625em solid #DBDBDB;
    height: 1.875em;

    padding-left: 0.625em;
}

.c-main__header ion-icon {
    font-size: 1.375em;
    margin-right: 0.6em;
}

.c-main__header input {
    background: #FAFAFA;
    border: 0.0625em solid #DBDBDB;
    border-radius: 0.1875em;
    height: 1.75em;
    width: 13.4375em;

    text-align: center;
}

.c-main__header input:focus {
    outline: 0;
}