@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    background-color: #FAFAFA;
}

.c-main {
    margin-top: 2.125em;
}

.c-sidebar {
    margin-top: 1.5em;
}




.u-position-relative {
    position: relative;
}

.u-display-flex {
    display: flex;
}

.u-center-xy {
    justify-content: center;
    align-items: center;
}

.u-center-x {
    align-items: center;
}

.u-space-between-center {
    justify-content: space-between;
    align-items: center;
}

.u-width-max-935 {
    width: min(97%, 58.4375em);
    /* background-color: green; */
}